body {
    background-color: black;
    margin: auto;
}

/* #wrapper {
    width: 1920;
    margin: 0 auto;
} */

.container {
    max-width: 1200px;
    max-height: 60px;
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* .content {
    max-width: 1920;
    max-height: 1369;
    align-content: center;
    align-self: center;
    align-items: center;
} */

/* .container {
    max-width: 1200px;
    max-height: 75px;
} */

.header {
    width: 1300px;
    height: 75px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 360px;
    /*align-self: flex-start;*/
    justify-content: space-between;
    display: flex;
}

.logotip img {
    width: 190px;
    height: 40px;
    margin-top: 2px;
    display: flex;
}

.autorization {
    text-decoration: none;
    /* margin-left: 850px; */
    margin-top: 12px;
    width: 272px;
    height: 19px;
    display: flex;
    gap: 30px;
}

.autorization a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: initial;
    text-align: right;
    line-height: 19.36px;
    display: flex;
}


.upper_line {
    width: 1200px;
    height: 1px;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.10);
    margin-left: 360px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.footer {
    text-decoration: none;
    width: 1200px;
    height: 99px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 360px;
    margin-right: 0px;
    justify-content: space-between;
    display: flex;
    /*align-self: flex-end;*/
}

.information a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    width: 228px;
    height: 19px;
    /* margin-left: 1062px; */
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    /*justify-content: space-between;
    display: flex;*/
    text-align: right;
    line-height: 19.36px;
}

.email a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #9747FF;
    width: 121px;
    height: 19px;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 400;
    /*justify-content: space-between;
    display: flex;*/
    text-align: left;
    line-height: 19.36px;
}

/* hr {
    width: 1370px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.10);
    margin-left: 360px;
    margin-bottom: 1270px;
    margin-right: 0px;
} */


.lower_line {
    width: 1200px;
    height: 1px;
    /* margin-top: 1270px; */
    background: rgba(255, 255, 255, 0.10);
    margin-left: 360px;
    margin-bottom: 74px;
    margin-right: 0px;
    margin-top: 1000px;
}

.introduction {
    width: 1200px;
    height: 60px;
    margin-top: 35px;
    margin-bottom: 0px;
    margin-left: 360px;
    margin-right: 0px;
    justify-content: space-between;
    display: flex;
}

.month {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 277px;
    height: 60px;
    margin-left: 0px;
    margin-top: 35px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    display: flex;
}

.add {
    font-family: 'Inter', sans-serif;
    background-color: #9747FF;
    width: 191px;
    height: 60px;
    /* margin-left: 700px; */
    margin-top: 35px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    line-height: 20px;
    display: flex;
}

.add a {
    text-decoration: none;
    color: white;
}

.main_page {
    width: 1200px;
    height: 895px;
    margin-top: 135px;
    margin-bottom: 135px;
    margin-left: 310px;
    margin-right: 0px;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-template-rows: repeat(4, 295px);
    grid-gap: 15px;
    /* background: red; */
}

.img1 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img2 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img3 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img4 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img5 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img6 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img7 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img8 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img9 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img10 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img11 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.img12 img {
    width: 295px;
    height: 295px;
    border-radius: 20px;
    object-fit: cover;
}

.date1, .date2, .date3, .date4, .date5, .date6, .date7, .date8, .date9, .date10, .date11, .date12 {
    width: 184px;
    height: 15px;
    opacity: 0.7px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.70);
    position: relative;
    bottom: 30px;
    left: 20px;
}

.name1, .name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9, .name10, .name11, .name12 {
    text-decoration: none;
    color: white;
    width: 245px;
    height: 26px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    bottom: 80px;
    left: 20px;
}

.continue {
    color: white;
    background-color: black;
    /* border-color: purple; */
    width: 1200px;
    height: 60px;
    margin-left: 360px;
    padding: 20px;
    border-radius: 10px;
    border: 2px;
    gap: 10px;
    outline: 2px solid #9747FF;
    display: inline-flex;
    justify-content: center;
    margin-top: 950px;
}

.continue a {
    text-decoration: none;
}


.autorization_wrap {
    overflow: hidden;
    position: fixed;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.autorization_window {
    margin: auto;
    /* position: absolute; */
    /* margin: 50px; */
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    height: 349px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    /* visibility: hidden; */
}

#autorization_href {
    display: none;
}

#autorization_href:target {
    display: block;
    overflow: hidden;
}

.start_autorization_registration {
    width: 443px;
    height: 39px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

.start_autorization_registration a {
    text-decoration: none;
    color: #B9B9B9;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    letter-spacing: 0em;
    text-align: left;
}

/* .start_registration a {
    color: #B9B9B9;
} */

.login_password {
    display: flex;
    justify-content: space-between;
    width: 520px;
    height: 60px;
    /* margin-left: 50px;
    margin-top: 100px; */
}

.login {
    /* display: flex; */
    width: 250px;
    height: 60px;
}

.password {
    /* display: flex; */
    width: 250px;
    height: 60px;
}

.login_password input {
    width: 225px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
}

.autorization_close {
    color: #fff;
    background-color: #9747FF;
    opacity: 30%;
    min-width: 520px;
    height: 60px;
    top: 399px;
    left: 40px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    opacity: 0.3px;
    /* margin-top: 100px;
    margin-left: 50px; */
}

.autorization_close:hover {
    opacity: 100%;
}

.warning {
    width: 338px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #838383;
}

.close {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 540px;
    /* cursor: pointer; */
}

.close src {
    width: 20px;
    height: 20px;
    padding-left: -5px;
}

.close button:target {
    display: none;
}

/* .close:focus {
    color: #000000;
    cursor: pointer;
    display: none;
} */


.registration_wrap {
    overflow: hidden;
    position: fixed;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.registration_window {
    margin: auto;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    height: 549px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0.3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

#registration_href {
    display: none;
    color: #000000;
}

#registration_href:target {
    display: block;
    overflow: hidden;
    /* color: #000000; */
}

.start_autorization_registration a:hover {
    color: #000000;
}

.start_autorization_registration a:active {
    color: #000000;
}

/* .fields {
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
} */

/* .fields input {
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
} */

.name input {
    width: 520px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
}

/* .other_fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */

.first_string {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 250px;
    max-height: 60px;
    gap: 192px;
}

.second_string {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 250px;
    max-height: 60px;
    gap: 192px;
}

.first_string input {
    margin-left: -142px;
    width: 225px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
}

.second_string input {
    margin-left: -142px;
    width: 225px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
}

.registration_login {
    width: 250px;
    height: 60px;
}

.phone {
    width: 250px;
    height: 60px;
}

.registration_password {
    width: 250px;
    height: 60px;
}

.second_password {
    width: 250px;
    height: 60px;
}

.agreement {
    width: 397px;
    height: 20px;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #838383;
}

.registration_close {
    color: #fff;
    background-color: #9747FF;
    opacity: 30%;
    min-width: 520px;
    height: 60px;
    top: 399px;
    left: 40px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.registration_close:hover {
    opacity: 100%;
}

.registration_warning {
    width: 338px;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: #838383;
}


@media(max-width: 800px) {
    .container {
        width: 500px;
    }

    .header {
        width: 300px;
    }
}